#parent {
	height: 100%;
	width: 100%;
	background-color: Aqua;
}

#container {
	width: 70em;
	height: auto;
	margin: 0 auto;
	background-color: Teal;
}

#topimagecontainer {
	float: left;
	width: auto;
	height: 100%;
}

#topmenucontainer {
	float: left;
	width: 55em;
	height: 100%;
	position: relative;
}

#footercontainer
{
    float: left;
	width: 70em;
	height: 100%;
	position: relative;
}

.centercontent {
	position: absolute;
    word-spacing: 30px;
	width:100%;
	height: auto;
	text-align: center;
	bottom: 5px;
}

.centermessage
{
    width:100%;
    height:auto;
    text-align:center;
}

.leftmessage
{
    width:100%;
    height:auto;
    text-align:left;
}

.contentcontainer 
{
    padding-top:40px;
    padding-bottom:40px;
    width:100%;
    height:auto;
}

.form
{
    height:auto;
    width:40em;
}

.formlabels
{
    text-align:right;
    width:50%;
    float:left;
}

.formrow
{
    height:auto;
    width:inherit;
    padding-bottom:2em;
}

.formlabelsin
{
    padding-right:10px;
}

.forminputs
{
    width:50%;
    float:left;
}

.leftmenu
{
    width:100%;
	height: auto;
	text-align: center;
}

.btable {
	border: 1px solid gray;
	border-collapse: collapse;
}
.btd {
	width: 45%;
	padding-top: 25px;
	padding-left: 20px;
	padding-bottom: 10px;
	border: 1px solid gray;
}

.btd1 {
	width: 150px;
	padding-top: 25px;
	padding-left: 20px;
	padding-bottom: 10px;
	border: 1px solid gray;
}
.btd2 {
	width: 400px;
	padding-top: 25px;
	padding-left: 20px;
	padding-bottom: 10px;
	border: 1px solid gray;
}
.btd3 {
	width: 100px;
	padding-top: 25px;
	padding-left: 20px;
	padding-bottom: 10px;
	border: 1px solid gray;
}

.btd4 {
	width: 75px;
	padding-top: 25px;
	padding-left: 20px;
	padding-bottom: 10px;
	border: 1px solid gray;
}

#top {
	position: relative;
	height:10em;
	background-color: Silver;
	width:70em;
	margin: 0 auto;
}


#left {
	float: left;
	width:15em;
	background-color: Teal;
	display:inline-block;
	height:auto;
	min-height:20em;
}

#content {
	width:55em;
	display:inline-block;
	vertical-align:top;
	background-color: white;
	height: auto;
	min-height: 50em;
}

#footer {
	height:3em;
	top: 0px;
	text-align: center;
	vertical-align:middle;
	background-color:Silver;
	width:70em;
	margin: 0 auto;
}